@model SimpleForum.Models.Search.SearchResultModel
@using SimpleForum.Models.Post
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@{ 
    ViewData["Title"] = "Kết quả tìm kiếm cho: " +@Model.SearchQuery;
}

<div class="container body-content">
    <div class="row sectionHeader">
        <div class="sectionHeading">
            <span id="results">Kết quả tìm kiếm cho: @Model.SearchQuery</span>
            <form asp-controller="Search" asp-action="Search" method="post">
                <div class="searchForm">
                    <input asp-for="SearchQuery" type="text" placeholder="Tìm kiếm..." class="searchBar" onfocus="clearThis(this)">
                    <button type="submit" class="btn buttonSearch">
                        <i class="material-icons">search</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="row" id="forumIndexContent">
        @if (((IEnumerable<PostListingModel>)ViewBag.OnePageOfPost).Any())
        {
            <table class="table table-hover table-bordered" id="forumIndexTable">
                <tbody>
                    @foreach (var post in ViewBag.OnePageOfPost)
                    {
                        <tr>
                            <td>
                                <div class="forumLogo" style="background-image: url(@post.Forum.ImageUrl); background-size:100%"></div>
                                <div class="postData">
                                    <div class="postTitle">
                                        <a asp-controller="Post" asp-action="Index" asp-route-id="@post.Slug">@post.Title</a>
                                    </div>
                                    <div class="forumSubTitle">
                                        <div>
                                            bởi:
                                            <span class="postAuthor">
                                                <a asp-controller="Profile" asp-action="Detail" asp-route-id="@post.AuthorId">
                                                    @post.AuthorName
                                                </a>
                                            </span>
                                            ở:
                                            <span class="postForum">
                                                <a asp-controller="Forum" asp-action="Topic" asp-route-id="@post.Forum.Id">@post.Forum.Name</a>
                                            </span>
                                            lúc:
                                            <span class="postDate">
                                                @post.DatePosted
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="forumPostCount">
                                    Trả lời: @post.RepliesCount
                                </div>
                            </td>
                            <td>
                                <div class="postDate">@post.DatePosted</div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @Html.PagedListPager((IPagedList)ViewBag.OnePageOfPost, pageNumber => Url.Action("Results", "Search", new { searchQuery=Model.SearchQuery, pageNumber = pageNumber}))
        }
        else if (@Model.EmptySearchResults)
        {
            <div class="noPosts">
                <i class="material-icons md-72">question_answer</i>
                <h3>
                    Không tìm thấy kết quả nào của @Model.SearchQuery! <br />
                </h3>
            </div>

        }
    </div>
</div>

@section Scripts {
    <script>
        function clearThis(target) {
            target.value = "";
        }
    </script>
}