@model IEnumerable<SimpleForum.Areas.Admin.Models.Review.ReviewPostListingModel>


@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Phê duyệt các bài viết";
}

<div class="row" id="forumIndexContent">
    <h1>Phê duyệt các bài viết</h1>

    @if (Model.Any())
    {
        <table class="table table-hover table-bordered" id="forumIndexTable">
            <tbody>
                @foreach (var post in Model)
                {
                    <tr>
                        <td>
                            <div class="postData">
                                <div class="postTitle">
                                    <a asp-controller="Post" asp-action="Index" asp-route-id="@post.Slug">@post.Title</a>
                                </div>
                                <div class="forumSubTitle">
                                    <div>
                                        <span class="postAuthor">
                                            <a asp-controller="Profile" asp-action="Detail" asp-route-id="@post.UserId">
                                                @post.UserName
                                            </a>
                                        </span>
                                        lúc
                                        <span class="postDate">
                                            @post.Created
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div>
                                <p><a class="btn btn-info" asp-area="Moderator" asp-controller="Home" asp-action="Accept" asp-route-id="@post.Slug">Duyệt bài</a></p>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="noPosts">
            <h3>
                Hiện không có bài viết nào cần phê duyệt!
            </h3>
        </div>

    }
</div>