@model SimpleForum.Areas.Admin.Models.Home.HomeIndexModel

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Trang Admin";
    var host = Context.Request.Host.ToString();
}



<div class="row" id="forumIndexContent">
    <div>
        <h1>Quản lý forum</h1>
        <p><a class="btn btn-primary" asp-area="Admin" asp-controller="Home" asp-action="Create">Thêm forum</a></p>
    </div>

    @if (Model.HomeList.Any())
    {       

        <table class="table table-striped table-responsive-md btn-table">

        <thead>
            <tr>
                <th>#</th>
                <th>Tên diễn đàn</th>
                <th>Sửa</th>
                <th>Xóa</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var f in Model.HomeList)
            {
                <tr>
                    <td>
                        <div class="forumLogo" style="background-image: url(@f.ImgUrl); background-size:100%"></div>
                    </td>
                    <td><a asp-controller="Forum" asp-action="Topic" asp-route-id="@f.Id">@f.Title</a></td>
                    <td>
                        <a class="btn btn-info" asp-area="Admin" asp-controller="Home" asp-action="Edit" asp-route-id="@f.Id">Sửa forum</a>
                    </td>
                    <td>
                        <a class="btn btn-danger" asp-area="Admin" asp-controller="Home" asp-action="Delete" asp-route-id="@f.Id">Xóa forum</a>
                    </td>
                </tr>
            }
        </tbody>

        </table>
    }
    else
    {
        <div class="noPosts">
            <h3>
                Hiện tại diễn đàn không có forum con nào!
            </h3>
        </div>

    }
</div>